@import "variables";

@import "ui-variables";
@import "syntax-variables";

.brainfuck-debug {
  .error {
    color: @text-color-error;
  }
}

// Remember: no default styling is provided for highlight decorations.
.highlight-green .region {
  color: red;
  background-color: @background-color-info;
}

.highlight-blue .region {
  color: red;
  background-color: @background-color-info;
}

.highlight-red .region {
  color: red;
  background-color: @background-color-info;
}
